$font-default: 'Open Sans', sans-serif;

body {
  margin: 0;
  border: 0;
  padding:0;
  background-image: url(../images/macphoto.jpeg);
  background-size: 100%;
  background-repeat: no-repeat;
  font-family: $font-default;
}

// FONTS
.h1, h1 {
  font-size: 70px;
  font-weight: bold;
}
h2 {
  font-size: 26px;
}

// COLORS
.blue-1, .main-text {
  color: #17485B;
}
.red-1 {
  color: #CC0914;
}

// CUSTOM STYLES
.logo,
.nav-right {
  display: inline-block;
  width: 48%;
  text-align: center;
}
.logo {
  padding-right: 7%;
  padding-top: 10px;
  font-size: 30px;
  font-weight: bold;

}
.nav-right {

}
.nav-right-list {
  display: inline-block;
  list-style: none;
  width: 118px;
  font-size: 18px;
}


// .main {
//   margin-left: 40px;
//   margin-right: 40px;

//   &-top {
//     margin: 0;
//     padding: 0;
//     text-align: center;
//     margin-top: 100px;
//     margin-bottom: 40px;
//   }
//   &-center {
//     margin: 0;
//     padding: 0;
//     font-family: courier;
//     font-size: 20px;
//     text-align: center;
//   }
//   &-center-top {
//     margin: 0;
//     padding: 0;
//     padding-right: 480px;
//     > h2 {
//       margin: 0;
//       display: inline-block;
//       font-size: 20px;
//       text-align: left;
//     }
//   }
//   &-center-bottom {
//     margin: 0;
//     padding: 0;
//     padding-right: 480px;
//     > h2  {
//       margin: 0;
//       padding: 0;
//       display: inline-block;
//       font-size: 20px;
//     }
//   }
//   &-p {
//     margin: 0;
//     padding: 0;
//     text-align: center;
//     text-align-last: inherit  ;
//   }
// }


.main {
  margin: 0;
  border: 0;
  padding:0;
  text-align: left;
  font-family: courier;
  
  &-top {
    font-family: $font-default;
    text-align: center;
    margin-top: 100px;
  }

  p {
    padding-left: 30px;
  }
  
  .h2,
  h2,
  &-text {
    margin: 10px 0px 10px 0px;
    font-size: 20px;
  }
  .container {
    max-width: 600px;
    margin-top: 50px;
  }
}

.middle {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  color: #17485B;

}
button {
  margin: 50px;
  height: 60px;
  width: 315px;
  background-color: #17485B;
  color: white;
  font-weight: bold;
  font-size: 25px;
}
.t200 {
  margin-top: 200px;
  margin-bottom: 30px;
}
hr {
  margin-top: 50px;
  margin-bottom: 50px;
}
.p18 {
  font-size: 18px;
}
.h314 {
  font-size: 14px;
}