$font-default: 'Open Sans', sans-serif;

body {
  margin: 0;
  border: 0;
  padding:0;
  background-image: url(../images/macphoto.jpeg);
  background-size: 100%;
  background-repeat: no-repeat;
  font-family: $font-default;
}

// FONTS
.h1, h1 {
  font-size: 70px;
  font-weight: bold;
}

// COLORS
.blue-1 {
  color: #064e90;
}
.red-1 {
  color: red;
}

// CUSTOM STYLES
.logo,
.nav-right {
  display: inline-block;
  width: 48%;
  text-align: center;
}
.logo {
  padding-right: 7%;
  padding-top: 10px;
  font-size: 30px;
  font-weight: bold;

}
.nav-right {

}
.nav-right-list {
  display: inline-block;
  list-style: none;
  width: 118px;
  font-size: 18px;
}


// .main {
//   margin-left: 40px;
//   margin-right: 40px;

//   &-top {
//     margin: 0;
//     padding: 0;
//     text-align: center;
//     margin-top: 100px;
//     margin-bottom: 40px;
//   }
//   &-center {
//     margin: 0;
//     padding: 0;
//     font-family: courier;
//     font-size: 20px;
//     text-align: center;
//   }
//   &-center-top {
//     margin: 0;
//     padding: 0;
//     padding-right: 480px;
//     > h2 {
//       margin: 0;
//       display: inline-block;
//       font-size: 20px;
//       text-align: left;
//     }
//   }
//   &-center-bottom {
//     margin: 0;
//     padding: 0;
//     padding-right: 480px;
//     > h2  {
//       margin: 0;
//       padding: 0;
//       display: inline-block;
//       font-size: 20px;
//     }
//   }
//   &-p {
//     margin: 0;
//     padding: 0;
//     text-align: center;
//     text-align-last: inherit  ;
//   }
// }


.main {
  margin: 0;
  border: 0;
  padding:0;
  text-align: left;
  font-family: courier;
  
  &-top {
    font-family: $font-default;
    text-align: center;
    margin-top: 100px;
  }

  p {
    padding-left: 25px;
  }
  
  .h2,
  h2,
  &-text {
    margin: 0;
    font-size: 20px;
  }
  .container {
    max-width: 600px;
    margin-top: 50px;
  }
}